*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
 
}
header{
    text-align: center;
    padding: 5%;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 39px;
    font-weight: 500;
}

p{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 28px;
    line-height: 1.5em;
    /* line-height: 32px; */
}
.img{
    padding-top:1%;
    padding-left: 15%;
    padding-right: 15%;
}
.last{
    font-style: italic;
    padding-bottom: 10%;
}